<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shikidroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:banner="@drawable/ic_shikimori"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_shikimori"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_shikimori"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shikidroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="com.shikidroid.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Shikidroid"
            android:configChanges="keyboardHidden|orientation|screenSize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.shikidroid.VideoActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenLayout|smallestScreenSize|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.shikidroid.WebViewActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenLayout|smallestScreenSize|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <queries>

        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data
                android:host="youtube.com"
                android:scheme="https" />
        </intent>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>

    </queries>

</manifest>